
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Roboto/Roboto-Regular.ttf) format('ttf');
}

body {
    margin: 0 auto;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}

.header {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.logo-box {
    position: relative;
    height: 122px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    height: 100%;
    max-width: 1050px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
}

.logo-img {
    width: 211px;
    margin: 0 30px;
    max-height: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: max-height 0.5s;
}

.image {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.nav {
    background-color: #00203a;
    min-height: 47px;
    display: flex;
    color: white;
    align-items: center;
    box-sizing: border-box;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav-center {
    max-width: 1050px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.menu {
    height: 100%;
}

.menu a {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 21px;
    margin: 0 12px;
    letter-spacing: .04em;
}

.menu a:hover {
    color: #f9e1a9;
}

.redes {
    height: 100%;
    align-items: center;
    padding-top: 10px;
}

.redes img {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: -10px;
}

.buscador {
    background-color: hsla(0, 0%, 100%, .2);
    border-color: hsla(0, 0%, 100%, .09);
    display: inline-flex;
    width: 242px;
    height: 33px;
    border-radius: 20px;
}

.input-search {
    border-radius: 99px;
    background-color: hsla(0, 0%, 100%, .2);
    border-color: hsla(0, 0%, 100%, .09);
    color: white;
    height: 100%;
    width: 242px;
    padding-left: 20px;
}

.input-search::placeholder {
    color: white;
}

.box-tittle {
    height: 64px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: rgba(178, 0, 0, 0.837);
    align-items: center;
    margin: 0 auto;
}

.title {
    height: 100%;
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0 auto;
    color: white;
    font-size: 1.8em;
    font-weight: 500;
}

.content {
    background-image: url(img/textura.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    box-sizing: border-box;
    filter: brightness(105%);
    opacity: 1;
}

.grid-img {
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 5px 30px 5px;
    box-sizing: border-box;
}

.elements {
    width: 150px;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;

}

.elements img {
    width: 329px;
    height: 176px;
}

.elements a {
    text-decoration: none;
    color: #555151;
    font-weight: 600;
    font-style: normal;
    font-size: 1.15em;
    line-height: 0;
}

.elements a:hover {
    color: black;
}

.content-2 {
    text-align: center;
    padding-bottom: 30px;
}

.content-2 a {
    text-decoration: none;
    color: #555151;
}

footer {
    position: relative;
    width: 100%;
    display: block;
    border-top: solid 10px rgb(183, 166, 109);
    background-color: #00203a;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box-footer {
    max-width: 1042.5px;
    margin: 0 auto;
}

h3 {
    color: #b7a66d;
}

.footer-grid a {
    text-decoration: none;
    color: white;
    padding: 0 auto;
}

.direction {
    color: white;
}

.footer-grid img {
    margin-top: 10px;
    width: 180px;
    height: 113px;
}

.redes-footer {
    text-align: center;
    margin-top: 30px;
}

.redes-footer img {
    width: 35px;
    height: 35px;
}

.copyright {
    color: hsla(0, 0%, 100%, .5);
    padding-top: 40px;
    height: 48;
    font-size: medium;
    text-align: center;
    padding-bottom: 10px;
}